<a href="https://colab.research.google.com/github/ShaluPriya-R01/shalu-priya/blob/main/Ztest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from statsmodels.stats import weightstats as stests

In [ ]:
df = pd.read_csv('/content/Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
df[['PetalLengthCm','PetalWidthCm']].describe()

       PetalLengthCm  PetalWidthCm
count     150.000000    150.000000
mean        3.758667      1.198667
std         1.764420      0.763161
min         1.000000      0.100000
25%         1.600000      0.300000
50%         4.350000      1.300000
75%         5.100000      1.800000
max         6.900000      2.500000

In [ ]:
#value=146 refers to the null hypothesis value for the variable
ztest ,pvalue = stests.ztest(df['PetalLengthCm'], x2=None, value=146)
print(float(pvalue))
print(ztest)

0.0
-987.3459949223145

In [ ]:
if pvalue<0.05:
    print("Null hyphothesis rejected , Alternative hyphothesis accepted")
else:
    print("Null hyphothesis accepted , Alternative hyphothesis rejected")

Null hyphothesis rejected , Alternative hyphothesis accepted

In [ ]:
ztest,pval1=stests.ztest(df['PetalLengthCm'],df['PetalWidthCm'],value=100)
print(float(pval1))
print(ztest)

0.0
-620.7843983908078

In [ ]:
if pval1<0.05:
    print("Null hyphothesis rejected , Alternative hyphothesis accepted")
else:
    print("Null hyphothesis accepted , Alternative hyphothesis rejected")

Null hyphothesis rejected , Alternative hyphothesis accepted